/* docs/.vitepress/theme/global.css */
/* 图片点击放大优先级调整 */
.medium-zoom-image {
  z-index: 9999 !important;
  margin: 20px auto !important;
  border-radius: 8px;
}

h4{
  font-size: 18px !important;
}

h2{
  border-top: 2px solid #8484fe !important;
}

h2, h3, h4{
  color: rgb(74, 156, 240);
}

strong{
  color: var(--vp-code-color);
}