/* docs/.vitepress/theme/global.css */
/* 图片点击放大优先级调整 */
.medium-zoom-image {
  z-index: 9999 !important;
  margin: 20px auto !important;
  border-radius: 8px;
}

.vp-doc h1{
  text-align: center;
  color: rgb(218, 145, 63);
}

.vp-doc h2 {
  border-top: 0px solid #8484fe;
  padding: 0 0 0 15px;
  border-left: 3px solid rgb(74, 156, 240);
  margin: 25px 0;
}

.vp-doc h4{
  font-size: 18px !important;
}

.vp-doc h2, h3, h4{
  color: rgb(74, 156, 240);
}

.vp-doc strong{
  color: var(--vp-code-color);
}

.vp-doc li::marker {
  color: var(--vp-code-color) !important;
}
